body{
    background-color: #D8D9DA;
}
#navBar{
    background-color: rgba(0, 0, 0, 0.834);
}
#lionDiv{
    color: white;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.nav-item .nav-link.active{
    color: white;
    padding-bottom: 11px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.nav-item .nav-link.active:hover{
    background-color: #FFC94A;
    color:black;
}
#Lion{
    height: 30px;
    width: 30px;
}
#containerLion{
    font-size: larger;
} 

/* #mainBox{
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 1%;
    padding-top: 32px;
    /* align-items: center; */
    /* display: flex; */
    /* overflow: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}  */
.table{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    width: 80%;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

thead tr th{
    font-weight: normal;
}

/* border-radius for the table*/
tr:first-child th:first-child{
    border-top-left-radius: 15px;
  }
  
tr:last-child td:first-child{
    border-bottom-left-radius: 15px;
  }
  
tr:first-child th:last-child{
    border-top-right-radius: 15px;
  }
  
tr:last-child td:last-child{
    border-bottom-right-radius: 15px;
  }
#points{
    font-weight: bold;
}