body{
    background-color: #D8D9DA;
}
#navBar{
    background-color: rgba(0, 0, 0, 0.834);
}
#lionDiv{
    color: white;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.nav-item .nav-link.active{
    color: white;
    padding-bottom: 11px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.nav-item .nav-link.active:hover{
    background-color: #FFC94A;
    color:black;
}
#Lion{
    height: 30px;
    width: 30px;
}
#containerLion{
    font-size: larger;
} 

#teamA, #teamB{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: xx-large;
}

#teamA {
    text-align: center;
    padding-bottom: 30%;
    padding-right: 55%;
    padding-top: 30%;
    position: absolute;
    margin-right: 50%;
    overflow: scroll;
}
#teamA a{
    padding-left: 18%;
}


#teamB {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.834);
    color:white;
    padding-bottom: 30%;
    padding-right: 30%;
    padding-top: 30%;
    position: absolute;
    margin-left: 50%;
    overflow: scroll;
}

#teamB a{
    padding-left: 18%;
}
.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}

.form-group{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
#pickBox{
    width: 40%;
    height: 38vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    align-items: center;
    align-content: center;
    display: flex;
    overflow: hidden;
    margin-top: 15vh;
}
#teamBox{

    display:flex;
    margin-right: 10%;
    margin-left: 20px;
}
#firstTeam{
    border-radius: 20px;
    text-align: center;
    background-color: #5e22d7;
    color:white;
}
#secondTeam{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.834);
    color:white;
    text-align: center;
    margin-left: 20px;
}
button{
    border-radius: 7px;
    border: 0px;
    background-color: #FFC94A;
    margin-top: 20px;
    margin-left: 165px;
    padding: 7px;

}
button:hover{
    background-color: rgb(245, 48, 48);
    color: white;
}
select:hover{
    border: #5e22d7;
    border: 2px;
}

#reference{
    font-size: x-small;
    text-align: center;
    margin-left: 40px;
}
#winRateBox{
    display: flex;
    width: 40%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#winRateBox div{
    text-align: center;
    margin: 30px;

}