body{
    background-color: #D8D9DA;
}
#navBar{
    background-color: rgba(0, 0, 0, 0.834);
}
#lionDiv{
    color: white;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.nav-item .nav-link.active{
    color: white;
    padding-bottom: 11px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.nav-item .nav-link.active:hover{
    background-color: #FFC94A;
    color:black;
}
#Lion{
    height: 30px;
    width: 30px;
}
#containerLion{
    font-size: larger;
} 
#chartGoaltoPointParent{
    background-color: white;
    border-radius: 15px;
    margin-top: 2.5%;
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#chartGoaltoPointParent p{
    padding-top: 1%;
}

#chartPossessiontoPointParent{
    background-color: white;
    border-radius: 15px;
    margin-top: 2.5%;
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#chartPossessiontoPointParent p{
    padding-top: 1%;
}