body{
    background-color: #D8D9DA;
}
#navBar{
    background-color: rgba(0, 0, 0, 0.834);
}
#lionDiv{
    color: white;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.nav-item .nav-link.active{
    color: white;
    padding-bottom: 11px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.nav-item .nav-link.active:hover{
    background-color: #FFC94A;
    color:black;
}
#Lion{
    height: 30px;
    width: 30px;
}
#containerLion{
    font-size: larger;
} 
#mainBox {
    width: 40%;
    height: 38vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    align-items: center;
    display: flex;
    overflow: hidden;
    margin-top: 30vh;
    position: relative;
}

#introduceBox {
    text-align: center;
    padding-bottom: 30%;
    padding-right: 55%;
    padding-top: 30%;
    position: absolute;
    margin-right: 50%;
}

#introduceBox p {
    font-size: 22px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
}

#introduceAuthor {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.834);
    color:white;
    padding-bottom: 30%;
    padding-right: 50%;
    padding-top: 15%;
    position: absolute;
    margin-left: 48%;
}

#introduceAuthor p {
    padding-top: 30%;
    font-size: 22px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}